[submodule "metamod-source"]
	path = metamod-source
	url = https://github.com/alliedmodders/metamod-source.git
[submodule "s2sdk"]
	path = s2sdk
	url = https://github.com/alliedmodders/s2sdk.git
	branch = cs2
